.divTableTrainerComplete {
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(0, 255, 255, 0);
    width: auto;
    min-width: 450px;
}

.trainerWorkLoadDaysDiv {
    margin-top: 10px;
    margin-left: 30px;
    background-color: rgba(0, 255, 255, 0);
    width: auto;
    margin-right: 10px;
    height: auto;
    max-height: 344px
}

.trainerDiv {
    flex-direction: column;
    justify-content: center;
    display: flex;
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: auto;
    max-width: 400px;
    min-width: 250px;

    #TrainerName {
        margin-right: 10px;
        margin-left: 10px;
        width: auto;
        max-width: 380px;
        margin-top: 10px;
        background-color: rgb(222, 222, 222);
    }

    #TrainerEmailTitle {
        margin-left: 10px;
        width: 80px;
        justify-self: left;
        border-style: solid;
        border-color: rgba(163, 163, 163, 0.596);
        border-width: 2px;
        border-radius: 0px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 0px;
    }

    #TrainerEmail {
        margin-right: 10px;
        margin-left: 10px;
        width: auto;
        max-width: 380px;
        justify-self: center;
        background-color: rgb(222, 222, 222);
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.workLoadDaysDiv {
    height: auto;
    justify-content: space-between;
    max-width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin-top: 0px;
    background-color: rgb(243, 243, 243);
    width: 100%;
    min-width: 250px;

    .workLoadDiv {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        #TrainerWorkLoad {
            padding-top: 1px;
            height: 30px;
            background-color: rgb(255, 255, 255);
            width: 180px;
            margin-top: 10px;
            border-style: solid;
            border-color: rgba(163, 163, 163, 0.596);
            border-width: 2px;
            border-radius: 0px;
            margin-bottom: 0px;
        }

        #TrainerEntryTime {
            text-align: center;
            width: 180px;
            padding-top: 10px;
            padding-left: 10px;
            background-color: rgb(222, 222, 222);
            height: 45px;
        }

        #TrainerDepartureTime {
            width: 180px;
            margin-top: -16px;
            padding-top: 10px;
            background-color: rgb(222, 222, 222);
            text-align: center;
            min-width: 150px;
            height: 45px;
            margin-bottom: 0px;
        }
    }

    .daysDiv {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;

        #TrainerDaysTitle {
            width: 150px;
            min-width: 150px;
            padding-top: 1px;
            height: 30px;
            background-color: rgb(255, 255, 255);
            margin-top: 10px;
            border-style: solid;
            border-color: rgba(163, 163, 163, 0.596);
            border-width: 2px;
            border-radius: 0px;
            margin-bottom: 0px;
        }


        #TrainerDays {
            min-height: 90px;
            width: 150px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
            background-color: rgb(222, 222, 222);
            height: auto;
            word-wrap: normal;
        }
    }
}

.workoutGymMemberDiv {
    width: 1000px;
    min-width: 430px;
    background-color: rgba(185, 212, 234, 0);
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.WorkoutListDiv{
    width: 990px;
    display: flex;
    #ButtonShowListWorkouts{
        background-color: rgb(221, 238, 253);
        border-style: solid;
        border-color: rgba(0, 255, 255, 0);
    }
}

.workoutDiv {
    flex-direction: column;
    display: flex;
    width: auto;
    height: auto;
    max-width: 1200px;
    min-width: 400px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    background-color: rgb(243, 243, 243);

    #TrainerWorkout {
        background-color: rgb(211, 235, 255);
        margin-bottom: 0px;
    }

    #TrainerWorkoutId {
        font-weight: 600;
        align-self: center;
        width: 100px;
        margin-top: 0px;
        background-color: rgb(211, 235, 255);
    }

    #TrainerDescriptionTitle {
        font-weight: 600;
        border-color: rgba(119, 119, 119, 0);
        border-style: solid;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: rgb(235, 235, 235);
        height: 30px;
    }

    #TrainerDescription {
        width: auto;
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: rgb(235, 235, 235);
        word-wrap: normal;
        border-top: 0px;
        border-color: rgba(200, 200, 200, 0);
        border-style: solid;
    }

}

.memberDiv {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);

    #TrainerWorkoutMember {
        font-weight: 600;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        border-color: rgb(253, 144, 144);
        border-style: solid;
        background-color: rgb(255, 213, 213);
    }

    #TrainerWorkoutMemberPhone,
    #TrainerWorkoutMemberAge,
    #TrainerWorkoutMemberWeight,
    #TrainerWorkoutMemberId,
    #TrainerWorkoutMemberName {
        word-wrap: normal;
        border-top: 0px;
        border-left: 1px;
        border-right: 1px;
        border-bottom: 1px;
        border-color: rgb(200, 200, 200);
        border-style: solid;
        height: auto;
        min-height: 30px;
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        background-color: rgb(237, 237, 237);
    }

    #TrainerWorkoutMemberHeight {
        word-wrap: break-word;
        border-top: 0px;
        border-left: 1px;
        border-right: 1px;
        border-bottom: 1px;
        border-color: rgb(200, 200, 200);
        border-style: solid;
        height: auto;
        min-height: 30px;
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        background-color: rgb(237, 237, 237);
    }

}

.listWorkouts {
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 212, 239);
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 140px;
    text-align: start;

    #listWorkoutsTrainer {
        word-wrap: normal;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 10px;
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0);

        #buttonsWorkoutsTrainer {
            background-color: rgba(255, 255, 255, 0);
            border: none;
        }

        #buttonsWorkoutsTrainer:hover {
            font-weight: 500;
        }
    }

    
}