/* FormsMemberCSS */    
form {
    width: 500px;
    margin: 50px auto;
    text-align: center;
  }
  
  form input {
    margin: 5px;
  }
  
  form button {
    margin-top: 10px;
    margin-right: 0px;
  
  }

  #updateButton:hover{
    background-color: #e2ad0f;
    border-color: #e2ad0f;
  }

  #age{
    width: 100px;
  }
  
  #weight{
    position: absolute;
    margin-top: -43px;
    width: 130px;
    margin-left: 180px;
  }
  
  #height{
    position: absolute;
    margin-top: -43px;
    width: 130px;
    margin-left: 375px;
  }
  

/* FormsMemberCSS */



